.App {
  text-align: center;
 }

.card {
  background-color: #ff2820;
  color: aliceblue;
} 



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-link {
  color: #c21500
}

.navbar-color{
  background-color: #ff2820 ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 