body {
  margin: 0;
  padding: 0;
  background: #c21500;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #c21500,  #ffc500);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #c21500,  #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  font-family: sans-serif;
}